
//Screen BreackPoint

$max-width:          1200px;
$breakpoint-tablet:  768px;
$breakpoint-desktop: 960px;
$marge:              15px;

//Typos

$font-default:       'Arial', sans-serif;
$font:               'Futura' , $font-default;
$manuscrit:          'Righteous',  $font-default;
$font-size-base:     75%;
// 14

//Colors

$pink:               #b24c5a;
$orange:             #e47e3d;
$orange_bg:          #ECA477;
$dark_pink:          #4b2f48;
$light_gray:         #F7F7F7;
$gray:               #817D7D;
$dark_gray:          #4E4E4E;
